* {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}
.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Uncracked;
    color: rgb(255, 255, 255);
    width: 100%;
}

.div-principal {
	height: 100vh;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    font-family: Uncracked;
    height: 125px;
    width: 350px;
    border-radius: 0.8rem;
    font-size: 55px;
    border: 5px solid #2f2449;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: url('./button7.gif');
    position: relative;
    z-index: 3;
}

.grupo {
    position: relative;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.primeira_fila {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.segunda_fila {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.graficos_1 {
    display: flex;
    justify-content: space-around;
}

.graph-1 {
    width: 50%;
    height: 400;
    margin-top: -18px;
}

.graph-3 {
    width: 50%;
    height: 400;
}

.graficos_2 {
    display: flex;
    justify-content: space-around;
}

.graph-2 {
    width: 75%;
}

.graficos {
    position: relative;
    z-index: 2;
}

@font-face {
    font-family: "Uncracked";
    src: url('./fonts/Uncracked.ttf') format("truetype");
}
